@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600;700&display=swap');

/*Colors*/
$primaryColor: #292F36;

$primaryColor2: #CDA274;

$primaryColor3: #F4F0EC;

$secColor: #FFFFFF;

$secColor2: #4D5053;

/*Font Family*/
$primaryFont: 'DM Serif Display', serif;

$secFont: 'Jost', sans-serif;

// Font Weight
$fw400: 400;

$fw600: 600;

$fw700: 700;

//Font Size
$fs18: 18px;

$fs20: 20px;

$fs22: 22px;

$fs24: 24px;

$fs25: 25px;

$fs50: 50px;

$fs85: 85px;

$fs40: 40px;

$fs58: 58px;

